<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <hooks>
      <hook type="Sitecore.Support.WorkflowPanelHook, Sitecore.Support.359989">
        <param desc="CoreDatabaseName">core</param> 
        <param desc="WorkflowPanelItemID">{1CC9896C-5D20-4439-8938-57B5BFB3734F}</param>
      </hook>
    </hooks>
      <commands>
        <command name="contenteditor:edit">
          <patch:attribute name="type">Sitecore.Support.Shell.Framework.Commands.ContentEditor.Edit, Sitecore.Support.359989.dll</patch:attribute>
        </command>
      </commands>
  </sitecore>
</configuration>